
# /
/build

# /debian/
/debian/*.debhelper
/debian/*.debhelper.log
/debian/files
/debian/submin2
/debian/*.substvars

# /dev/
/dev/coverage-annotate

# /dev/conf/
/dev/conf/sshd_config
/dev/conf/ssh_host_dsa_key
/dev/conf/ssh_host_dsa_key.pub
/dev/conf/sshd.pid

# /submin/
/submin/*.pyc

# /submin/auth/
/submin/auth/*.pyc

# /submin/dispatch/
/submin/dispatch/*.pyc

# /submin/models/
/submin/models/*.pyc

# /submin/path/
/submin/path/*.pyc

# /submin/subminadmin/
/submin/subminadmin/*.pyc

# /submin/template/
/submin/template/*.pyc

# /submin/views/
/submin/views/*.pyc
