#Options ExecCGI FollowSymLinks
#AddHandler cgi-script py cgi pl

###
### Mod_python-mode:

#AddHandler mod_python .py
#PythonHandler modpythonhandler
#PythonAutoReload on
#PythonDebug On

###
### RewriteRules

RewriteEngine on
RewriteBase /submin

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ www/submin.py/$1

RewriteRule ^/?$ www/submin.py/
