<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<title>Submin - Main screen turn on</title>
		<style type="text/css">
			body { font-family: Verdana; background: #eee}
			div.errormsg { font-family: Arial; padding: 10px; margin: 10px; background: #c33; }
		</style>
	</head>
	<body>
		[test:uptodated
		<h1>Database is up-to-date</h1>
			[test:alreadyuptodate Database was already up-to-date.
			<a href="[val base_url]">Continue</a>.
			][else Successfully updated!
			Please <a href="[val base_url]login">login</a> again.]
		][else
		<h1>Database is not up-to-date</h1>
			[test:session_user.is_admin
		<p>
			Please click <a href="[val base_url]upgrade">here</a> to upgrade.
			This will change the database schema. A backup is made
			before the change.
		</p>
			][else
		<div class="errormsg">If you are not the administrator of this site, please warn the
			administrator. Otherwise please log in as an administrator.</div>
		<p>
			<h2>Upgrade instructions</h2>
			To update your configuration, execute the following command:
			<pre>
	submin2-admin <em>env</em> upgrade database
			</pre>
			Where <em>env</em> is the submin directory (default: /var/lib/submin).
			<p>
				Another option is to login as administrator and follow the
				instructions on screen.
			</p>
		</p>
			]
		]
	</body>
</html>
