<div id="content">
	<h1 class="content">User [val user.name]</h1>
	<div class="settings">
		<ul>
			<li><form onSubmit="sendFullName();return false;"><label for="fullname">Name</label><input type="text" class="rounded" value="[val user.fullname]" id="fullname"/><input type="submit" value="save name" name="namebutton"/></form></li>
			<li><form onSubmit="sendEmail();return false;"><label for="email">Email</label><input type="text" class="rounded" value="[val user.email]" id="email"/><input type="submit" value="save email" name="email"/> [test:session_user.is_admin <input type="button" name="reset_password" value="Send reset password email" onclick="sendSendPasswordMail(); return false" />]</form></li>
			<li><form onSubmit=""><label for="password">Password</label><input type="password" class="rounded" id="password"/><input type="submit" value="save password" name="password" id="password_button"/></form>[test:change_password_hint <div id="change_password_hint" class="hint">Hint: don't forget to change your password!</div>]</li>
			<li><label for="is_admin">Administrator</label><input [test:session_user.is_admin ][else disabled] [test:user.is_admin checked] type="checkbox" id="is_admin" /></li>
		</ul>
		<div class="usershowhide">
			<h3 class="usershowhide c_trigger"><div class="usershowhide c_icon expanded"></div>Member of</h3>
			<div class="usershowhide c_object">
				<ul id="memberof" class="selector">
				</ul>
			</div>
		</div>

		<div class="usershowhide">
			<h3 class="usershowhide c_trigger">
				<div class="usershowhide c_icon expanded"></div>SSH Keys
			</h3>
			<div class="usershowhide c_object">
				[test:enabled_git
				<ul id="ssh_keys">
				</ul>
				<p><a href="" id="ssh_key_add_link">Add SSH Key</a></p>
				<form onSubmit="addSSHKey(); return false;" style="display: none" id="ssh_key_add_form">
					<ul>
						<li><label for="title">Title</label>
							<input type="text" value="" name="title" id="title"/>
						</li>
						<li><label for="ssh_key">SSH Key</label>
							<textarea name="ssh_key" id="ssh_key" rows="10" cols="50"></textarea>
							<div class="help">SSH saves its public keys in
								<code>~/.ssh</code> by default, with the
								extension <code>.pub</code>. Typical names are
								<code>id_dsa.pub</code> and
								<code>id_rsa.pub</code></div>
						</li>
						<li><input type="submit" value="Add SSH Key" /></li>
					</ul>
				</form>]
				[else <div class="comment">(disabled because git support is not enabled)</div>]
			</div>
		</div>

		<div class="usershowhide">
			<h3 class="usershowhide c_trigger">
				<div class="usershowhide c_icon expanded"></div>Access to repositories
			</h3>
			<div class="usershowhide c_object">
				<form onsubmit="return false;">
				<table id="notifications">
					<thead>
					<tr class="noticeshead">
						<td class="name">&nbsp;</td>
						<td>Receive commit e-mails</td>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<input id="savenotifications" type="submit" value="save notifications" />
				</form>
			</div>
		</div>
	</div>
</div>
