AddHandler mod_python .py
PythonHandler submerge
PythonOption SubmergeEnv /home/avaeq/public_html/submerge/submerge.conf
PythonAutoReload on
PythonDebug On

### RewriteRules ###
RewriteEngine on
# What is the location of submerge from your doc-root?
# Don't forget the trailing /
RewriteBase     /path/to/www/dir/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ submerge.py/$1

RewriteRule ^/?$ submerge.py
