AddHandler mod_python .py
PythonHandler submin
PythonOption SubminEnv /etc/submin/submin.conf
PythonPath "sys.path+['/usr/share/submin/www']"
PythonAutoReload on
PythonDebug On

### RewriteRules ###
RewriteEngine on
# What is the location of submin from your doc-root?
# Don't forget the trailing /
# - Option 1: root in VirtualHost
RewriteBase     /
# - Option 2: dir in default host
#RewriteBase	/submin/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ submin.py/$1
RewriteRule ^/?$ submin.py
