<VirtualHost *:80>
	ServerAdmin webmaster@submin.example.com
	ServerName submin.example.com
	DocumentRoot /usr/share/submin
	<Directory /usr/share/submin/>
	</Directory>

	LogLevel warn
	ErrorLog /var/log/apache2/submin/error.log
	CustomLog /var/log/apache2/submin/access.log combined
	ServerSignature On
</VirtualHost>
