div#content .error {
	clear: both;
}

div#content label {
	width: 100px;
	float: left;
}

div#content input, div#content li .required {
	float: left;
}

div#content p {
	clear: both;
	padding: 1em 1.5em;
}

form ul li {
	clear: left;
}

ul#systems {
	float: left;
}

ul#systems li {
	clear: both;
	padding-left: 5px;
}

ul#systems li input.radio, ul#systems li label {
	float: none;
}
