#sidebar {
	background-color: #dadfe6;
	width: 161px;
	padding: 0px;
	margin: 0px;
	float: left;
	color: #000;
	overflow: auto;
	white-space: nowrap;
	position: fixed;
	left: 0px;
	top: 0px; /* from the top to the icons below */
	bottom: 31px; /* height of the icons */
	padding-bottom: 10px;
	border-right: 1px solid #515151;
}
#sidebar h2 {
	text-transform: uppercase;
	font-size: 12px;
	color: #505D6D;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 1em;
	margin-left: 0.5em;
	clear: both;
	cursor: pointer;
}
#sidebar div.showhide ul {
	margin: 0;
}

#sidebar div.showhide ul.showhide-object {
	display: none;
}

#sidebar h1 {
	margin-top: 0.5em;
	margin-left: 0em;
	padding-left: 1em;
	font-size: 24px;
}

#sidebar h1 a {
	color: #505D6D;
	margin-left: 0em;
}

#sidebar div.showhide li {
	float: left;
	width: 100%;
}
#sidebar div.showhide li:hover, div.showhide li.selected {
	background: #C0CDED;
}
#sidebar li:hover .deleteuser, #sidebar li:hover .deletegroup, #sidebar li:hover .deleterepository {
	display: inline;
}
#sidebar li .deleteuser, #sidebar li .deletegroup, #sidebar li .deleterepository {
	display: none;
}
#sidebar div.showhide li a, #sidebar div.showhide li span.err_version, #sidebar div.showhide li span.err_permission {
	display: block;
	float: left;
	width: 75%;
	margin-left: 0.5em;
	text-decoration: none;
	color: black;
	overflow: hidden;
	white-space: nowrap;
}

#sidebar div.showhide li span.err_version, #sidebar div.showhide li span.err_permission {
	color: red;
	cursor: help;
}

#sidebar div.logout li a {
	display: block;
	float: left;
	width: 75%;
	margin-left: 0.5em;
	text-decoration: none;
	color: black;
}

#sidebar li span {
	float: left;
}

.deleteuser:hover, .deletegroup:hover, .deleterepository:hover {
	cursor: pointer;
}

/* ADD icons */
ul#addicons {
	position: fixed;
	bottom: 0;
	left: 0;
	background: url(../img/sidebar-add.png);
	height: 30px;
	margin: 0;
	padding: 0;
	width: 161px; /* not 162px, let the border show! */
	border-top: 1px solid #515151;
	border-right: 1px solid #515151;
}
ul#addicons li:hover {
	background: transparent;
}
ul#addicons li {
	padding: 0;
	margin: 0;
	float: left;
}
ul#addicons li a {
	margin: 0;
	float: left;
	overflow: visible;
}
ul#addicons li a div {
	background: url('../img/addicons.png') no-repeat;
	width: 40px;
	height: 30px;
	float: left;
	cursor: pointer;
}
ul#addicons li a div.sb_user { background-position: 0px 0px; }
ul#addicons li a div.sb_user.pressed { background-position: 0px -30px; }
ul#addicons li a div.sb_group { background-position: -40px 0px; }
ul#addicons li a div.sb_group.pressed { background-position: -40px -30px; }
ul#addicons li a div.sb_repos  { background-position: -80px 0px; }
ul#addicons li a div.sb_repos.pressed { background-position: -80px -30px; }

.dotdotdot {
	color: #999;
	float: left;
}
