label {
	width: 100px;
	float: left;
}

li div.help {
	display: block;
	color: #9A9A9A;
	padding-left: 100px;
	width: 30em;
}

li div.help code {
	border: 1px solid #898989;
	background: #DADADA;
	padding: 0 2px;
}

#ssh_key_add_form {
	clear: left;
	margin-top: 2.5em;
}

p {
	margin-top: 2.5em;
}

#ssh_keys {
	float: left;
}

#ssh_keys li {
	clear: both;
	padding-left: 1.5em;
}

#ssh_keys li a {
	width: 200px;
	float: left;
}

#ssh_key_add_link {
	margin-left: 1.5em;
}

#ssh_keys li img {
	float: left;
	cursor: pointer;
}

tr.noticeshead {
	font-weight: bold;
}

tr.noticeshead td.name {
	width: 100px;
}

#content input.disabled {
	cursor: help;
}
