<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<title>Submin - Main screen turn on</title>
		<style type="text/css">
			body { font-family: Verdana; background: #eee}
			div.errormsg { font-family: Arial; padding: 10px; margin: 10px; background: #c33; }
		</style>
	</head>
	<body>
<div id="content">
	<h1>Error</h1>
	<p>We're very sorry, but an error occured:</p>
	<div class="errormsg">[val errormsg].</div>
	<p>Please tell the administrator this error message and what caused it. Technical details (if any): </p>
	<div class="errormsg">[val details]</div>
</div>
	</body>
<html>
