<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		<title>Submin - Main screen turn on</title>
		<link rel="stylesheet" href="[val main_base_url]css/master.css">
		<link rel="stylesheet" href="[val main_base_url]css/log.css">
		<script type="text/javascript">
			var base_url = "[val main_base_url]";
			var is_admin = [test:is_admin true][else false];
			var me = "[val main_user.name]";
			var xml_lists = (new DOMParser()).parseFromString("[quoted main_all]", "text/xml");
		</script>
		<script type="text/javascript" src="[val main_base_url]js/basic.js"></script>
		<script type="text/javascript" src="[val main_base_url]js/ajax.js"></script>
		<script type="text/javascript" src="[val main_base_url]js/log.js"></script>
		<!--\[if lt IE 7\]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
		<script src="[val main_base_url]js/ie6-xmlhttprequest.js"></script>
		<!\[endif\]-->
	</head>
	<body>
		[include sidebar.html]
		[include [val main_include]]
	</body>
</html>
