		<script type="text/javascript">
		var newgroup_onload = window.onload;
		window.onload = function() {
			if (newgroup_onload)
				newgroup_onload();

			document.getElementById('groupname').focus();
		}
		</script>
		<div id="content">
		<h1>New group</h1>
		<form action="" method="post">
			<ul>
				<li><label for="id_groupname">Groupname:</label> <input id="groupname" type="text" name="groupname" /></li>
				<li><input type="submit" name="submit" value="Create" /></li>
			</ul>
		</form>
		</div>
