		<link rel="stylesheet" href="[val main_base_url]css/newX.css">
		<script type="text/javascript">
		var newuser_onload = window.onload;
		window.onload = function() {
			if (newuser_onload)
				newuser_onload();

			document.getElementById('username').focus();
		}
		</script>
		<div id="content">
		<h1>New user</h1>
		<form action="" method="post">
			<ul>
				<li><label for="id_username">Username:</label> <input id="username" type="text" name="username" value="[val username]"/><span  class="required">*</span></li>
				<li><label for="id_fullname">Full Name:</label> <input id="fullname" type="text" name="fullname" value="[val fullname]"/></li>
				<li><label for="id_email">Email:</label> <input id="email" type="text" name="email" value="[val email]"/><span  class="required">*</span></li>
				<li><input type="submit" name="submit" value="Create" /></li>
			</ul>
			<p><em>Fields marked with <span class="required">*</span> are required</em></p>
			[set:empty ]
			[equals:errormsg:empty][else
			<div class="error">[val errormsg]</div>
			]
		</form>
		</div>
