		<script type="text/javascript" src="[val main_media_url]/js/repositories.js"></script>
		<link rel="stylesheet" href="[val main_media_url]/css/repository.css">

<div id="content">
	<h1 class="content">Repository [val repository.name]</h1>
		<div id="repostree">
			<ul>
				<li class="repostree" id="repostree_/">
					<span class="repostree-trigger">
						<img class="repostree-icon" src="[val main_media_url]/img/arrow-expanded.png" />
					</span>
					<span onclick="permissions_update('repostree', this);">
						<img class="repostree-folder" src="[val main_media_url]/img/repostree-folder.png" />(root)
					</span>
					<ul class="repostree-object">
					</ul>
				</li>
			</ul>
		</div>
</div>
