<div id="content">
	<h1 class="content">Repository [val repository.name]</h1>
		<div class="settings">
			<ul>
				<li><label>Subversion URL</label><span>[test:svn_http_url <a class="external" href="[val svn_http_url]">[val svn_http_url]</a>][else <div class="comment">svn_base_url not set in config</div>]</span>
				</li>
				<li><label>Trac URL</label><span>[test:trac_http_url <a class="external" href="[val trac_http_url]">[val trac_http_url]</a>][else <div class="comment">trac_base_url not set in config</div>]</span></li>
				<li><label>Send notifications</label><span><input id="notifications" type="checkbox" onclick="javascript:toggle_notifications_mailing()" [test:repository.notificationsEnabled checked]/>enabled</span>
				</li>
			</ul>
		</div>
		<h3 class="content">Path permissions</h3>
		<div id="repostree">
			<ul>
				<li class="repostree" id="repostree_/">
					<span class="repostree-trigger">
						<img class="repostree-icon" src="[val main_base_url]img/arrow-expanded.png" />
					</span>
					<span id="repostree_root_text">
						<img class="repostree-folder" src="[val main_base_url]img/repostree-folder.png" />(root)
					</span>
					<ul class="repostree-object">
					</ul>
				</li>
			</ul>
		</div>
		<div id="permissions-editor">
			<h3></h3>
			<ul id="permissions-list">
			</ul>
		</div>
		<script type="text/javascript"> resize_content_div(); </script>
</div>
