<div id="sidebar">
	<h1><a href="[val main_base_url]">Submin</a></h1>
	<div class="logout">
	<ul><li><a href="[val main_base_url]logout">Logout ([val main_user.name])</a></li></ul>
	</div>
	<div class="showhide">
	[set:type users]
	<h2 class="showhide-trigger"><img class="showhide-icon" src="[val main_base_url]img/arrow-[equals:selected_type:type expanded][else collapsed].png" />Users</h2>
	<ul class="showhide-object" id="users">
	</ul>
	</div>
	<div class="showhide">
	[set:type groups]
	[set:special_group submin-admins]
	<h2 class="showhide-trigger"><img class="showhide-icon" src="[val main_base_url]img/arrow-[equals:selected_type:type expanded][else collapsed].png" />Groups</h2>
	<ul class="showhide-object" id="groups">
	</ul>
	</div>
	<div class="showhide">
	[set:type repositories]
	<h2 class="showhide-trigger"><img class="showhide-icon" src="[val main_base_url]img/arrow-[equals:selected_type:type expanded][else collapsed].png" />Repositories</h2>
	<ul class="showhide-object" id="repositories">
	</ul>
	</div>
	<ul id="addicons">
		<li><a href="[val main_base_url]users/add/" title="Add a user"><img src="[val main_base_url]img/add-user.png" id="sidebar_add_user_img"/></a></li>
		<li><a href="[val main_base_url]groups/add/" title="Add a group"><img src="[val main_base_url]img/add-group.png" id="sidebar_add_group_img"/></a></li>
		<li><a href="[val main_base_url]repositories/add/" title="Add a repository"><img src="[val main_base_url]img/add-repository.png" id="sidebar_add_repository_img"/></a></li>
	</ul>
</div>
