		<script type="text/javascript" src="[val main_base_url]/js/users.js"></script>
		<link rel="stylesheet" href="[val main_base_url]/css/users.css">

<div id="content">
	<h1 class="content">User [val user.name]</h1>
		<div class="settings">
			<ul>
				<li><form onSubmit="sendEmail();return false;"><label for="email">Email</label><input type="text" value="[val user.email]" id="email"></input><input type="submit" value="change" name="email"/></form></li>
				<li><form onSubmit=""><label for="password">Password</label><input type="password" id="password"></input><input type="submit" value="change" name="password" id="password_button"></form></li>
				<li>
					[test:notifications_not_yet_implemented
					<h3 class="content">Notices from repositories <span class="comment">(Not implemented yet)</span></h3>
					<table>
						<tr class="noticeshead">
							<td class="name">&nbsp;</td>
							[test:is_admin <td>allowed</td>]
							<td>enabled</td>
						</tr>
					[iter:user.notifications 
						<tr class="notices">
							<td>[ival.name]</td>
							[test:is_admin <td><input type="checkbox" [test:ival.allowed checked] /></td>]
							<td><input type="checkbox" [test:ival.enabled checked] /></td>
						</tr>
					]
					]
					</table>
					<h3 class="content">Member of</h3>
					<ul id="memberof" class="selector">
					</ul>
				</li>
			</ul>
		</div>
</div>
