		<script type="text/javascript" src="[val main_base_url]js/users.js"></script>
		<link rel="stylesheet" href="[val main_base_url]css/users.css">

<div id="content">
	<h1 class="content">User [val user.name]</h1>
		<div class="settings">
			<ul>
        <li><form onSubmit="sendFullName();return false;"><label for="fullname">Name</label><input type="text" value="[val user.fullname]" id="fullname"/><input type="submit" value="save name" name="namebutton"/></form></li>
				<li><form onSubmit="sendEmail();return false;"><label for="email">Email</label><input type="text" value="[val user.email]" id="email"/><input type="submit" value="save email" name="email"/></form></li>
				<li><form onSubmit=""><label for="password">Password</label><input type="password" id="password"/><input type="submit" value="save password" name="password" id="password_button"/></form></li>
				<li>
					<h3 class="content">Member of</h3>
					<ul id="memberof" class="selector">
					</ul>
					<h3 class="content">Notices from repositories <span class="comment">(Not implemented yet)</span></h3>
					<table id="notifications">
						<tr class="noticeshead">
							<td class="name">&nbsp;</td>
							[test:is_admin <td>allowed</td>]
							<td>enabled</td>
						</tr>
					</table>
					<form onsubmit="return false;">
					<input id="savenotifications" type="submit" value="save notifications">
					</form>
				</li>
			</ul>
		</div>
</div>
