#log {
	width: 400px;
	border: 1px solid #666;
	position: fixed;
	left: 100px;
	top: 10px;
	text-align: center;
	padding: 1.5em 0 1.5em 0;
}

.log_error {
	background: #f66;
}

.log_message {
	background: #afa;
}

.log_error small {
	color: #822;
	float: right;
	padding-right: 10px;
}
