#log {
	height: 3em;
	width: 400px;
	border: 1px solid black;
	position: absolute;
	left: 100px;
	top: 10px;
	text-align: center;
	padding-top: 1em;
}

.log_error {
	background: red;
}

.log_message {
	background: green;
}
