body {
	font-size: small;
	font-family: Verdana, Arial, Sans-serif;
}

#content {
	float: left;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-left: 180px;
}

ul { 
	padding-left: 0em; 
	margin: 0;
}
li { 
	list-style: none;
	padding-left: 1.5em;
}
a img { border: 0; }

a { text-decoration: none; }

a.external {
	background:url(../img/external.png) 99% 40% no-repeat; padding-right: 15px;
}

h1.content {
	background: #ddd;
	padding: 0.3em;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

h3.content {
	border-bottom: 1px solid black;
}

.comment {
	color: #666;
	font-size: 9pt;
	font-weight: normal;
	font-style: italic;
}

img.adder, img.remover {
	height: 13px;
	width: 13px;
	max-width: 13px;
	max-height: 13px;
	vertical-align: middle;
}

li form {
	margin: 0.1em;
}

ul.selector {
	padding-bottom: 1.5em;
}

ul.selector span {
	float: left;
}

ul.selector li {
	clear: both;
}

ul.selector li a {
	width: 200px;
	float: left;
}

ul.selector li select.adder {
	width: 180px;
	margin-right: 10px;
	margin-bottom: 1.5em;
	margin-left: 0.5em;
	margin-top: -0.2em;
	float: left;
}

ul.selector li .remover, ul.selector li .adder {
	float: left;
	width: 13px;
	cursor: pointer;
}

ul.selector li .adder {
	padding-top: 2px;
}

ul.selector li img {
	height: 13px;
}

img.showhide-icon {
	height: 1em;
	width: 1em;
	padding-right: 0.5em;
}

div.error {
	border: 1px solid #666;
	text-align: center;
	padding: 1.5em 0 1.5em 0;
	margin: 1em;
	background: #f66;
}

.required {
	color: red;
	margin: 0 0.6em;
}