body {
	font-size: small;
	font-family: Verdana, Arial, Sans-serif;
}

ul { 
	padding-left: 0em; 
}
li { 
	list-style: none;
	padding-left: 1.5em;
}
label {
	width: 100px;
	float: left;
}
a img { border: 0; }

a { text-decoration: none; }

h1.content {
	background: #ddd;
	padding: 0.3em;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

h3.content {
	border-bottom: 1px solid black;
}

.comment {
	color: #666;
	font-size: 9pt;
	font-weight: normal;
	font-style: italic;
}

img.adder, img.remover {
	height: 13px;
	vertical-align: middle;
}

li form {
	margin: 0.1em;
}

ul.selector li {
	width: 200px;
}

ul.selector li select {
	width: 175px;
}

ul.selector li .remover, ul.selector li .adder {
	float: right;
}

ul.selector li .adder {
	padding-top: 2px;
}
