img.repostree-icon {
	height: 1em;
	width: 1em;
	padding-right: 0.5em;
	vertical-align: bottom;
}

img.repostree-folder {
	height: 1em;
	width: 1em;
	padding-right: 0.25em;
	vertical-align: bottom;
}

span.repostree-noncollapsable {
	padding-left: 1.5em;
}

div#repostree {
	float: left;
}

div#permissions-view {
	border: 1px solid black;
	float: right;
	width: 300px;
	margin-left: 10em;
}

div#permissions-view label {
	width: 10em;
}
