img.repostree-icon {
	height: 1em;
	width: 1em;
	padding-right: 0.5em;
	vertical-align: bottom;
}

img.repostree-folder {
	height: 1em;
	width: 1em;
	padding-right: 0.25em;
	vertical-align: bottom;
}

span.repostree-noncollapsable {
	padding-left: 1.5em;
}

#repostree li span {
	cursor: pointer;
}

#repostree li span.has-perms {
	font-style: italic;
	color: blue;
}

div#repostree {
	float: left;
	white-space: nowrap;
	overflow: auto;
	width: 49%; /* overwritten by www/js/repostree.js: fix_content_div() */
}

div#permissions-view {
	float: right;
	width: 49%; /* overwritten by www/js/repostree.js: fix_content_div() */
	border: 1px solid black;
	overflow: auto;
}

div#permissions-view label {
	width: 10em;
}

