body {
	margin: 0;
	background: #fff;
	color: #000;
	font-family: "Lucida Grande", helvetica, arial, sans-serif;
	font-size: 12px;
	background: #fff url(../img/sidebar.png) top left repeat-y;
}
#sidebar {
	width: 161px;
	padding: 0px;
	margin: 0px;
	float: left;
	color: #000;
	padding-bottom: 45px;
	overflow: hidden;
	white-space: nowrap;
}
#sidebar h2 {
	text-transform: uppercase;
	font-size: 12px;
	color: #505D6D;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 1em;
	margin-left: 0.5em;
	clear: both;
	cursor: pointer;
}
#sidebar div.showhide ul {
	margin: 0;
}

#sidebar div.showhide ul.showhide-object {
	display: none;
}

#sidebar h1 {
	margin-top: 0.5em;
	margin-left: 0em;
	padding-left: 1em;
	font-size: 24px;
}

#sidebar h1 a {
	color: #505D6D;
	margin-left: 0em;
}

#sidebar div.showhide li {
	float: left;
	width: 100%;
}
#sidebar div.showhide li:hover, div.showhide li.selected {
	background: #C0CDED;
}
#sidebar li:hover .deleteuser, #sidebar li:hover .deletegroup, #sidebar li:hover .deleterepository {
	display: inline;
}
#sidebar li .deleteuser, #sidebar li .deletegroup, #sidebar li .deleterepository {
	display: none;
}
#sidebar div.showhide li a {
	display: block;
	float: left;
	width: 75%;
	margin-left: 0.5em;
	text-decoration: none;
	color: black;
	overflow: hidden;
	white-space: nowrap;
}

#sidebar div.logout li a {
	display: block;
	float: left;
	width: 75%;
	margin-left: 0.5em;
	text-decoration: none;
	color: black;
}

#sidebar li span {
	float: left;
}

.deleteuser:hover, .deletegroup:hover, .deleterepository:hover {
	cursor: pointer;
}

/* ADD icons */
ul#addicons {
	position: fixed;
	bottom: 0;
	left: 0;
	background: url(../img/sidebar-add.png);
	height: 30px;
	margin: 0;
	padding: 0;
	width: 161px; /* not 162px, let the border show! */
	border-top: 1px solid #515151;
}
ul#addicons li:hover {
	background: transparent;
}
ul#addicons li {
	width: 40.25px;
	padding: 0;
	margin: 0;
	float: left;
}
ul#addicons li a {
	margin: 0;
	overflow: visible;
}
.dotdotdot {
	color: #999;
	float: left;
}
