body {
	margin: 0;
	background: #fff;
	color: #000;
	font-family: "Lucida Grande", helvetica, arial, sans-serif;
	font-size: 12px;
	background: #fff url(../img/sidebar.png) top left repeat-y;
}
#sidebar {
	width: 150px;
	padding: 5px;
	float: left;
	color: #000;
	padding-bottom: 35px;
}
#sidebar h2 {
	text-transform: uppercase;
	font-size: 12px;
	color: #505D6D;
	margin-bottom: 0;
	padding-top: 1em;
	clear: both;
}
#sidebar ul {
	margin: 0;
}
#content {
	float: left;
	margin-left: 10px;
}
#sidebar h1 {
	color: #505D6D;
	margin: 0;
}
#sidebar li {
	float: left;
	width: 90%;
}
#sidebar li:hover, li.selected {
	background: #C0CDED;
}
#sidebar li:hover .deleteuser, #sidebar li:hover .deletegroup {
	display: inline;
}
#sidebar li .deleteuser, #sidebar li .deletegroup {
	display: none;
}
#sidebar li a {
	display: block;
	float: left;
	width: 80%;
	text-decoration: none;
	color: black;
}

#sidebar li span {
	float: left;
}

/* ADD icons */
ul#addicons {
	position: fixed;
	bottom: 0;
	background: url(../img/sidebar-add.png);
	height: 30px;
	margin: 0 -5px;
	padding: 0;
	width: 162px;
}
ul#addicons li {
	width: 40.25px;
	padding: 0;
	margin: 0;
	float: left;
}
ul#adicons li a {
	margin: 0;
}
