body {
	color: black;
	background-color: white;
	font-family: verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}
a:hover, a:link, a:visited {
	color: black;
}

div.container {
	border: none 1px black;
}

div.row {
	clear: both;
}

div.row label {
	float: left;
	text-align: right;
	width: 200px;
	display: block;
}

div#menu {
	float: left;
	background-color: #999;
	width: 150px;
}

div#menu ul {
	padding: 0px;
	margin: 0px;
}

div#menu ul li {
	list-style: none;
	background-color: #aaa;
}

div#menu ul li:hover {
	background-color: #ccc;
}

div#menu ul li a {
	padding: 2px;
	margin: 2px;
	display: block;
}

div#menu ul ul li {
	padding: 0em 1em;
}

div#content {
	float: left;
	text-align: left;
	padding: 0.5em;
	width: 580px;
}

label {
	cursor: pointer;
}
.msg {
	border: 5px solid #a7a7a7;
	padding: 6px;
	background: #888;
	color: #fff;
}

fieldset span {
	cursor: pointer;
}

#indicator {
	position:fixed;
	z-index:2000;
	top:0;
	background:white;
	border:2px solid #000;
	color: #000;
	padding: 5px;
} 

#wastebin {
	position: fixed; 
	top: 100px; 
	right: 20px;
	width: 48px;
	background: url(../images/trash-empty.png) top left no-repeat;
}

#wastebin.wastebin-active {
	background: url(../images/trash-full.png) top left no-repeat;
}

fieldset legend {
	padding: 0 .25em; 
}

fieldset div {
	padding: .25em;
}

fieldset#users {
	width: 200px;
	position: fixed;
	right: 20px;
	top: 150px;
}
fieldset#users ul {
	list-style: none;
	padding-left: 5px;
}

#nav {
	background: #f7f7f7 url(../images/topbar_gradient.png) 0 0;
	font: normal 11px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
	float: right;
	text-align: right;
	width: 100%;
	border: 1px solid black;
	text-decoration: none;
}

#nav span.logged {
	font-size: 9px;
	float: left;
	padding: .1em .5em;
}

#nav ul {
	display: inline;
}

#nav ul li a {
	text-decoration: none;
}

#nav .admin :link, #nav .admin :visited, 
#nav .adminactive :link, #nav .adminactive :visited {
	background: url(../images/dots.gif) 0 0 no-repeat;
}

#nav :link, #nav :visited {
	padding: 0 20px;
}

#nav ul li {
	border-left: 1px solid black;
	display: inline;
	padding: 0 0;
}

#nav ul li:hover {
	background: #f7f7f7 url(../images/topbar_gradient3.png) 0 0;
}

#nav ul li.active, #nav ul li.adminactive {
	background: #f7f7f7 url(../images/topbar_gradient2.png) 0 0;
}
